apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-jedqcrdh
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-jedqcrdh:523ee56d4968b9058b181c40876a35eb188b8f1b@sha256:119777f23b1cdc3d78f9e8b51d4805135752e55dd2ba8ca3896a033ca85b098e
        name: container-image  
